html {
  scroll-behavior: smooth;
}
.header{
  background-color:#87509c;
  color: #fff !important;
  padding: 0px 0px ;
}

.navbar-toggler {
  border: 1.0px solid #fff;
}

.navbar-expand-lg .navbar-nav .nav-link {
  color: #fff;
  margin: 0px 20px;
  font-size: 1.2em;
}
.navbar-nav .nav-link {
  padding-right: 0;
  padding-left: 0;
}
.nav-link:hover, .nav-link:focus {
  text-decoration: none;
}
a:hover {
  background-color: #643a79;
  color: #fff;
  text-decoration: underline;
  border-radius: 5px;
}

.header-logo{
  color: #fff;
  font-weight: bold;
}

.my-header {
  margin-bottom: 0rem;
  /* background: #87509c; */
  background: url(../img/library_girl.jpg);
  height: 500px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  color:rgb(160, 255, 185);
  text-align: center;
  border-radius: 0px;
  height: 500px;
}

.my-header p{
  font-size: 2rem;
  font-weight: 700;
}

.my-header .btndesign{
  margin: 50px;
  background: #eb7d4b;
  width: 400px;
  height: 60px;
  border-color: #b5400b;
  border-style: solid;
  border-width: 0 1px 4px 1px;
  color: #fff;
  text-transform: uppercase;
}

.my-header .btndesign:hover{
  margin: 50px;
  background: #b5400b;
  border-color: #eb7d4b;
  border-style: solid;
  border-width: 0 1px 4px 1px;
  text-transform: uppercase;
}

.my-service{
  margin-bottom: 0rem;
  background: #17c2a4;
  color: #fff;
  text-align: center;
  border-radius: 0px;
  height: 600px;
}

.my-service .lead-text {
  font-size: 1.50rem;
  font-weight: 500;
}

.my-service .columns{
  margin: 0px;
  padding: 30px;
}

.my-service .columnstxt-header{
  margin: 20px 0px;
  font-weight: bold;
}

#logoid{
  width: 150px;
  height: 70px;
}

.my-service .img-size{
  width: 100px;
  height: 100px;
}
/* Team start */
.meetteam{
  margin-bottom: 0rem;
  background: #e7f1f8;
  color: #000;
  text-align: center;
  border-radius: 0px;
  height: 700px;
}

.meetteam .lead-text {
  font-size: 1.50rem;
  font-weight: 500;
}

.meetteam .columns{
  padding: 30px;
  margin: 20px auto;
}

.meetteam .columnstxt-header{
  margin: 20px 0px;
  font-weight: bold;
}

.meetteam .img-size{
  width: 100px;
  height: 100px;
  margin: 40px auto;
}

.meetteam .userimg{
  background: #878787;
  border-radius: 50%;
  height: 200px;
  width: 200px;
  margin: 10px auto;
}
/* team end */

@media only screen and (max-width: 600px) {
  .header {
  padding: 9px 30px;
}

  .my-header {
    height: 500px;
  }

  .my-header .btndesign{
    margin: 0px;
  }


  .my-header .btndesign:hover{
    margin:0px;

  }

  .my-service{
    height: 1100px;
  }
  .meetteam{
    height: 200px;
  }

  .my-header p{
    font-size: 1.5rem;
    font-weight: 700;
    margin: 38px 0px;
  }


  .my-header .btndesign{
    width: 300px;
  }

  .my-service{
    height: 1200px;
  }

  .meetteam{
    height: 2100px;
  }
}

/*--------------------------------------------------------------
# Contact
--------------------------------------------------------------*/
.contact .info-box {
  color: #2d405f;
  text-align: center;
  box-shadow: 0 0 30px rgba(214, 215, 216, 0.6);
  padding: 20px 0 30px 0;
  background: #fff;
}

.contact .info-box i {
  font-size: 32px;
  color: #3b4ef8;
  padding: 8px;
}

.contact .info-box h3 {
  font-size: 20px;
  color: #777777;
  font-weight: 700;
  margin: 10px 0;
}

.contact .info-box p {
  padding: 0;
  line-height: 24px;
  font-size: 14px;
  margin-bottom: 0;
}

.contact .php-email-form {
  box-shadow: 0 0 30px rgba(214, 215, 216, 0.6);
  padding: 30px;
  background: #fff;
}

.contact .php-email-form .validate {
  display: none;
  color: red;
  margin: 0 0 15px 0;
  font-weight: 400;
  font-size: 13px;
}

.contact .php-email-form .error-message {
  display: none;
  color: #fff;
  background: #ed3c0d;
  text-align: center;
  padding: 15px;
  font-weight: 600;
}

.contact .php-email-form .sent-message {
  display: none;
  color: #fff;
  background: #18d26e;
  text-align: center;
  padding: 15px;
  font-weight: 600;
}

.contact .php-email-form .loading {
  display: none;
  background: #fff;
  text-align: center;
  padding: 15px;
}

.contact .php-email-form .loading:before {
  content: "";
  display: inline-block;
  border-radius: 50%;
  width: 24px;
  height: 24px;
  margin: 0 10px -6px 0;
  border: 3px solid #18d26e;
  border-top-color: #eee;
  -webkit-animation: animate-loading 1s linear infinite;
  animation: animate-loading 1s linear infinite;
}

.contact .php-email-form input, .contact .php-email-form textarea {
  border-radius: 5px;
  box-shadow: none;
  font-size: 14px;
}

.contact .php-email-form input:focus, .contact .php-email-form textarea:focus {
  border-color: #8ea5ca;
}

.contact .php-email-form input {
  padding: 20px 15px;
}

.contact .php-email-form textarea {
  padding: 12px 15px;
}

.contact .php-email-form button[type="submit"] {
  background: #3b4ef8;
  border: 0;
  padding: 10px 24px;
  color: #fff;
  transition: 0.4s;
  border-radius: 5px;
}

.contact .php-email-form button[type="submit"]:hover {
  background: #0a22f6;
}

@-webkit-keyframes animate-loading {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes animate-loading {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}


/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/
#footer {
  color: #444444;
  font-size: 14px;
  background: #f1f3ff;
  box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
}

#footer .social-links a {
  font-size: 18px;
  display: inline-block;
  background: #e7eafe;
  color: #3b4ef8;
  line-height: 1;
  padding: 8px 0;
  margin-right: 4px;
  border-radius: 5px;
  text-align: center;
  width: 36px;
  height: 36px;
  transition: 0.3s;
}

#footer .social-links a:hover {
  background: #3b4ef8;
  color: #fff;
  text-decoration: none;
}
/* The snackbar - position it at the bottom and in the middle of the screen */
#snackbar {
  visibility: hidden; /* Hidden by default. Visible on click */
  min-width: 250px; /* Set a default minimum width */
  margin-left: -125px; /* Divide value of min-width by 2 */
  background-color: #333; /* Black background color */
  color: #fff; /* White text color */
  text-align: center; /* Centered text */
  border-radius: 2px; /* Rounded borders */
  padding: 16px; /* Padding */
  position: fixed; /* Sit on top of the screen */
  z-index: 1; /* Add a z-index if needed */
  left: 50%; /* Center the snackbar */
  bottom: 30px; /* 30px from the bottom */
}

/* Show the snackbar when clicking on a button (class added with JavaScript) */
#snackbar.show {
  visibility: visible; /* Show the snackbar */
  /* Add animation: Take 0.5 seconds to fade in and out the snackbar.
  However, delay the fade out process for 2.5 seconds */
  -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
  animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

/* Animations to fade the snackbar in and out */
@-webkit-keyframes fadein {
  from {bottom: 0; opacity: 0;}
  to {bottom: 30px; opacity: 1;}
}

@keyframes fadein {
  from {bottom: 0; opacity: 0;}
  to {bottom: 30px; opacity: 1;}
}

@-webkit-keyframes fadeout {
  from {bottom: 30px; opacity: 1;}
  to {bottom: 0; opacity: 0;}
}

@keyframes fadeout {
  from {bottom: 30px; opacity: 1;}
  to {bottom: 0; opacity: 0;}
}